{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar"  class="frame">
    <h3>Категории</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
      <a href="/" class="logo">Каталог</a></li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
              <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <br><a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
        <c>{{ product.price }}&nbspРуб</c>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" value="Добавить в корзину">
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
